@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Mouse+Memoirs&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(152deg, rgba(247,206,216,1) 0%, rgba(169,194,221,1) 85%, rgba(209,199,163,1) 100%);
}

code {
  font-family: 'Montserrat', sans-serif;
}
