.appbar {
    background: rgba(255, 255, 255, 0.082) !important;
    box-shadow: none !important;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    box-shadow: 3px 0px 27px 1px rgba(0,0,0,0.53);
    border-top: 1px solid rgba(255, 255, 255, 0.46);
    border-right: 1px solid rgba(255, 255, 255, 0.247);
}

.appbar .title {
    font-weight: 700;
    flex-grow: 1;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(73, 73, 73) ;
}